    <title>{pageTitle}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    {ogImageIsDefault && <meta property="og:image:type" content="image/svg+xml" />}
    {ogImageIsDefault && <meta property="og:image:width" content="1200" />}
    {ogImageIsDefault && <meta property="og:image:height" content="630" />}
    <meta property="og:locale" content={siteConfig.site.locale} />
    <meta property="og:site_name" content={siteConfig.site.name} />

    <!-- Twitter -->
